<div>
  <h2>{{question.question}}</h2>
  <div class="answer" ng-repeat="answer in question.answers">
	<input type="radio" id="option_{{$index}}" ng-model="question.response" ng-value="$index" />
	<label for="option_{{$index}}">
		{{answer}}
  	</label>
  </div>
  <button ng-disabled="empty(question)" ng-click="finish()" class="btn btn-next btn-lg" ng-show="questions.length - 1 == number">Finish</button>
  <button ng-disabled="empty(question)" ng-click="next()" class="btn btn-next btn-lg" ng-hide="questions.length - 1 == number">Next</button>
</div>